body {
    font-family: sans-serif;
    color: white;
    background-color: black;
    text-align: center;
    margin-bottom: 50px;

    --true-blue: #0066cc;
    --dark-true-blue: #002277;
    --xdark-true-blue: #001166;

    --reveal-duration: 3.5s;
    --reveal-delay-1: 1s;
    --reveal-delay-2: 1.4s;
    --reveal-delay-3: 1.8s;
    --reveal-delay-4: 2.2s;

    --note-open-duration: 0.75s;
    --flash-duration: 8s;
}

@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 100; }
}

#header {
    background-image: linear-gradient(var(--true-blue), var(--dark-true-blue));
    padding: 20px;
    border: 2pt solid white;
    border-radius: 15px;
    margin-bottom: 10px;
    padding-bottom: 50px;
}

#department {
    font-size: 5vw;
    font-weight: normal;
}
#presents {
    font-size: 3vw;
    font-style: italic;
}
#title {
    opacity: 0;
    font-size: 10vw;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 40px;

    animation: fade-in;
    animation-duration: var(--reveal-duration);
    animation-delay: var(--reveal-delay-1);
    animation-fill-mode: forwards;
}
#featuring {
    font-size: 3vw;
    font-style: italic;

    opacity: 0;
    animation: fade-in;
    animation-duration: var(--reveal-duration);
    animation-delay: var(--reveal-delay-2);
    animation-fill-mode: forwards;
}
#name {
    font-size: 6vw;
    margin-bottom: 0px;

    opacity: 0;
    animation: fade-in;
    animation-duration: var(--reveal-duration);
    animation-delay: var(--reveal-delay-2);
    animation-fill-mode: forwards;
}
#instrument {
    margin-top: 0.75rem;
    margin-bottom: 3rem;
    font-size: 4vw;
    font-style: italic;

    opacity: 0;
    animation: fade-in;
    animation-duration: var(--reveal-duration);
    animation-delay: var(--reveal-delay-2);
    animation-fill-mode: forwards;
}
#location {
    margin-top: 5rem;
    font-size: 3vw;

    opacity: 0;
    animation: fade-in;
    animation-duration: var(--reveal-duration);
    animation-delay: var(--reveal-delay-3);
    animation-fill-mode: forwards;
}


#program-page {
    background-image: linear-gradient(var(--xdark-true-blue), black);
    border: 2pt solid white;
    border-radius: 15px;
    padding: 20px;

    opacity: 0;
    animation: fade-in;
    animation-fill-mode: forwards;
    animation-duration: var(--reveal-duration);
    animation-delay: var(--reveal-delay-4);
}
#program-page h1 {
    font-size: 8vw;
}
#program-page .instructions {
    font-size: 4.5vw;
    padding-bottom: 20px;
    font-style: italic;
}

#program-order {
    border-radius: 15px;
    padding-left: 20px;
    padding-right: 20px;
    list-style-type: none;
}
#program-order a {
    color: inherit;
    text-decoration: none;
}

.program-item {
    background-color: white;
    background-image: linear-gradient(var(--true-blue), var(--dark-true-blue));
    border-radius: 15pt;
    padding: 3rem;
    margin-top: 20px;
    transition: none;
}
.item-open {
    background-image: linear-gradient(var(--dark-true-blue), var(--true-blue));
}
.flash-item {
    transition: background-color var(--flash-duration);
    background-image: none;
    background-color: #F00000;
}
.piece {
    font-size: 4.5vw;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: top;
}
.title {
    text-align: left;
    font-weight: bolder;
}
.composer {
    text-align: right;
}
.premiere {
    font-size: 4vw;
    text-align: center;
    font-style: italic;
    padding-top: 10px;
}
.program-notes {
    font-size: 4.5vw;
    text-align: justify;

    height: 0px;
    padding: 0px;
    margin: 0px;
    transition: height var(--note-open-duration);
    transition-timing-function: ease-in-out;
    overflow: hidden;
}
.note-container hr {
    width: 75%;
    margin: 30px auto 30px auto;
    border-color: white;
}
.note-inset {
    font-size: 3.25vw;
    margin-left: 5%;
    margin-right: 0%;
}

footer {
    opacity: 0;
    animation: fade-in;
    animation-fill-mode: forwards;
    animation-duration: var(--reveal-duration);
    animation-delay: var(--reveal-delay-4);
}
#logo {
    width: 25vw;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    background-image: linear-gradient(var(--true-blue), var(--xdark-true-blue));
}
#thanks {
    margin: 0px 20px 100px 20px;
    font-size: 3vw;
    font-style: italic;
}